body{
    margin: 0;
    background-color: aquamarine;
    padding: 20px;
}
header{
    text-align: center;
    background-color: plum;
    color:burlywood;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 4px gray;
}
main,section,footer{
    text-decoration:dotted;
    text-align: center; 
    font-size: medium;
    margin: 8%
}
main{
    margin: 8%;
    display: flex;
}
article{
    background-color: antiquewhite;
    border-width: 2px solid blue;
    padding: 12px;
    box-shadow: gray;
    display:flex;

}

section{
    text-align: center;
    padding:24px;
    
}